.benefits{
  background-color: $primary;
  padding: 7.5rem 0;
  @include media-breakpoint-down(xs) {
    padding: 3rem 0;
  }
  .h1{
    color: white;
  }
  &__item{
    @include flexbox($direction: column, $justifyContent: space-between);
    border-radius: 1rem;
    padding: 2rem 50% 2rem 2rem;
    height: 100%;
    background-color: #fff;
    min-height: 15em;
    @include imgRetina('../img/benefits1', 'jpg', $size: cover, $position: right);
    @include media-breakpoint-down(xs) {
      padding: 1rem;
      min-height: auto;
      background-image: none;
    }
    &.secondary{
      background-color: #FAD192;
      @include imgRetina('../img/benefits2', 'png', $size: contain, $position: right);
      @include media-breakpoint-down(xs) {
        background-image: none;
      }
    }
  }
}