.footer{
  background: $body-bg-secondary;
  padding-top: 7rem;
  padding-bottom: 7rem;
  @include media-breakpoint-down(xs) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .social{
    @include flexbox($justifyContent: space-between);
    svg{
      width: 24px;
      height: 24px;
    }
  }
}