.header{
  .logo{
    width: 110px;
    height: 32px;
  }
  .nav-link{
    text-decoration: none;
    transition: .3s ease-in-out;
  }
  .track-form{
    input{
      width: 9rem;
      padding: 0;
      border: none;
      height: 1.5rem;
      line-height: 1.5rem;
      color: $blue;
      border-radius: 0;
      &::placeholder{
        color: $blue;
      }
    }
    button{
      background: transparent;
      padding: 0 .5rem 0 0;
      height: 1.5rem;
      line-height: 1.5rem;
      border: none;
    }
    .track{
      width: 24px;
      height: 24px;
      border: none;
    }

  }
  @include media-breakpoint-down(sm){
    .navbar{
      position: fixed;
      z-index: 5;
      right: 0;
      left: 0;
      top: 0;
      background: $white;
    }
  }
}

