.hero{
  height: 100vh;
  padding-bottom: 10rem;
  @include imgRetina('../img/hero', 'jpg', $size: contain, $position: center bottom);
  @include media-breakpoint-down(xs) {
    padding: 0;
    .btn{
      display: block;
    }
  }
}