.howto{
  background: $body-bg-secondary;
  padding: 7.5rem 0;
  @include media-breakpoint-down(xs) {
    padding: 3rem 0;
  }
  .howto-list{
    @include flexbox($justifyContent: space-between);
    margin: 5rem auto 4rem;
    padding: 0 3.375rem;
    list-style: none;
    counter-reset: num;
    text-align: center;
    @include media-breakpoint-down(xs) {
      flex-direction: column;
      text-align: left;
      margin: 2rem 0;
      padding: 0;
    }
    h3{
      display: inline-block;
    }
    li{
      counter-increment: num;
      flex-basis: 28%;
      &::before{
        content: counter(num) ". ";
        color: $dark;
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }
  .video-placeholder{
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
    img{
      width: 100%;
    }
  }
}