
  .carousel-inner {
    @include media-breakpoint-down(sm){
      .carousel-item-right.active, .carousel-item-next {
        transform: translateX(50%);
      }

      .carousel-item-left.active, .carousel-item-prev {
        transform: translateX(-50%);
      }
    }
    @include media-breakpoint-up(lg){
      .carousel-item-right.active, .carousel-item-next {
        transform: translateX(33%);
      }

      .carousel-item-left.active, .carousel-item-prev {
        transform: translateX(-33%);
      }
    }
  }

@include media-breakpoint-down(sm) {
  .carousel-inner .carousel-item > div {
    display: none;

    &:first-child {
      display: block;
    }
  }
}

.carousel-inner {
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev{
    display: flex;
  }

  .carousel-item-right,
  .carousel-item-left {
    transform: translateX(0);
  }
}
.carousel{
  @include media-breakpoint-down(sm) {
    width: 340px;
    margin: auto;
  }
}
.carousel-control{
  $control-size: 64px;
  width: $control-size;
  height: $control-size;
  border-radius: $control-size;
  background: $white;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: calc(50% - 32px);
  @include flexbox($placeContent: center, $placeItems: center);
  opacity: .7;
  transition: .3s ease-in-out;
  &:hover{
    opacity: .9;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.4);
  }
  svg{
    color: $blue;
    width: 20px;
    height: 30px;
  }
  &__prev{
    left: -32px;
  }
  &__next{
    right: -32px;
  }
}
