$animate: all 0.2s ease-in-out;

.nav-pills{
  &__bordered{
    margin: 1rem auto 2rem;
    .nav-link{
      display: inline-block;
      position: relative;
      padding: 1rem 0;
      flex-basis: 14.625rem;
      color: $black;
      text-align: center;
      cursor: pointer;
      border-radius: 0;
      border-bottom: 2px solid rgba($black, .2);
      transition: $animate;
      @include media-breakpoint-down(xs) {
        flex-basis: 50%;
        font-size: $font-size-md;
      }
      &::before,
      &::after{
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        width: 0;
        height: 2px;
        bottom: -2px;
        transition: $animate;
        transition-duration: 0.75s;
        opacity: 0;
        background: $blue;
      }
      &::before {
        left: 50%;
      }
      &::after {
        right: 50%;
      }
      &.active{
        background: none;
        color: $blue;
          &::before,
          &::after {
            width: 50%;
            opacity: 1;
          }
        }
      }
    }
  }

