.photographers{
  padding: 7.5rem 0;
  @include media-breakpoint-down(xs) {
    padding: 3rem 0;
    overflow: hidden;
  }
  h2{
    margin-bottom: 5rem;
  }

  .carousel-item{
    .card-body{
      position: relative;
    }
    .ava{
      $ava-size: 80px;
      position: absolute;
      overflow: hidden;
      top: -60%;
      left: 1rem;
      width: $ava-size;
      height: $ava-size;
      border-radius: $ava-size;
      img{
        width: 100%;
      }
    }
    .card-title{
      font-size: $font-size-1g;
      color: $black;
    }
  }
}
