.publish{
  background: $body-bg-secondary;
  min-height: 50vh;
  &__inner {
    padding-top: 7rem;
    padding-bottom: 7rem;
    @include media-breakpoint-down(xs) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    h2{
      margin-bottom: 2rem;
    }
    form{
      max-width: 420px;
      .form-control{
        margin-bottom: 2rem;
      }
    }
  }
  &__bg{
    @include imgRetina('../img/publish', 'jpg', $size: cover)
  }
}