.qa{
  h2{
    margin-bottom: 5rem;
  }
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  @include media-breakpoint-down(xs) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .accordion{
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
    .card{
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      padding: 2rem;
      @include media-breakpoint-down(xs) {
        padding: 1rem;
      }
      &:last-child{
        border-bottom: none;
      }
    }
    .card-header,
    .card-body{
      background: white;
    }
    .card-body{
      padding: 1rem 0 0;
    }
    .card-header{
      font-size: 1.5rem;
      color: $dark;
      padding: 0;
      border: none;
      cursor: pointer;
      &>div{
        background: url("../../img/svg/minus_qa.svg") no-repeat center right;
        &.collapsed{
          background: url("../../img/svg/plus_qa.svg") no-repeat center right;
        }
      }
    }
  }
}