.reviews{
  min-height: 100vh;
  padding: 7.5rem 0 600px;
  background-color: $body-bg;
  @include imgRetina('../img/reviews', 'jpg', $position: bottom, $size: contain);
    @include media-breakpoint-down(xs) {
    padding: 3rem 0 300px;
  }
  .comment{
    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
    }
      &__body{
        padding: 2rem;
        background: $white;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
        border-radius: 16px;
        font-size: $font-size-lg;
      @include media-breakpoint-down(xs) {
        padding: 1rem;
        font-size: $font-size-base;
      }
    }
    &__auth{
      @include flexbox($alignItems: center);
      padding: 1rem 0;
      text-shadow: 0 1px 0 $body-bg;
      .ava{
        border-radius: 48px;
        overflow: hidden;
        margin: 0 1rem;
      }
    }
  }
}