<div class="benefits">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="h1 text-center mb-lg-5 mb-3">Преимущества</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-6 p-lg-3 my-3">
                <div class="benefits__item">
                    <div>
                        <h3>Защита лицензионным соглашением</h3>
                    </div>
                    <div>
                        <a href="/"><b>Узнать больше</b></a>
                    </div>
                </div>

            </div>
            <div class="col col-lg-6 p-lg-3 my-3">
                <div class="benefits__item secondary">
                    <div>
                        <h3>Быстрая и качественная печать</h3>
                    </div>
                    <div>
                        <a href="/"><b>Узнать больше</b></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>