<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-2">
                &copy; <span id="year"></span>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2">
                <p><a href="#how-to" class="text-secondary">Как это работает?</a></p>
                <p><a href="#photographers" class="text-secondary">Фотографы</a></p>
                <p><a href="#publish" class="text-secondary">Цены</a></p>
                <p><a href="#publish" class="text-secondary">Доставка и оплата</a></p>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2">
                <p><a href="mailto:info@insprint.co" class="text-primary">info@insprint.co</a></p>
                <p><a href="tel:+79168578978" class="text-primary">+7 (916) 857 89 78</a></p>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2">
                <div class="social">
                    <a href="">
                        <svg>
                            <use xlink:href="#svg--instagram"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg>
                            <use xlink:href="#svg--facebook"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg>
                            <use xlink:href="#svg--twitter"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg>
                            <use xlink:href="#svg--vk"></use>
                        </svg>
                    </a>
                </div>

            </div>
        </div>
    </div>
</footer>
<div class="sprite">
    //= sprite.html
</div>
<script src="js/main.min.js"></script>