<nav class="nav nav-pills nav-pills__bordered justify-content-center " role="tablist" id="howToTabs">
    <span class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Для фотолюбителей</span>
    <span class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Для фотографов</span>
</nav>