<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
            <svg class="logo">
                <use xlink:href="#svg--logo"></use>
            </svg>
        </a>
        <button type="button" class="navbar-toggler"
                data-toggle="collapse"
                data-target="#nav"
                aria-controls="nav"
                aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between navbar-light" id="nav">
            <ul class="navbar-nav align-content-center m-auto pl-xl-5">
                <li class="nav-item mx-1" >
                    <a class="nav-link" href="#how-to">Как это работает?</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="#photographers">Фотографы</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="#publish">Цены</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="#publish">Доставка и оплата</a>
                </li>
            </ul>
            <!-- Search bar -->
            <form class="form-inline track-form">
                <button type="submit">
                    <svg class="track">
                        <use xlink:href="#svg--track"></use>
                    </svg>
                </button>
                <input type="text" class="form-control" placeholder="Отследить заказ" />
            </form>
        </div>
    </nav>
</header>
