<section class="hero">
    <div class="container h-100">
        //= header.html
        <section class="row h-100">
            <div class="col-lg-9 col-sm-12 m-auto text-center">
                <h1>
                    Просто напечатать работу <br class="d-sm-none d-md-block"> вашего любимого фотографа
                </h1>
                <h3 class="mt-4">Печатайте и получайте фотографии ваших любимых <br> фотографов прямо в руки</h3>
                <div class="mt-5">
                    <a class="btn btn-primary mx-3 my-4" href="#">
                        Каталог фотографов
                    </a>
                    <a class="btn btn-light mx-3 my-4" href="#">
                        Как мы работаем
                    </a>
                </div>
            </div>
        </section>
    </div>
</section>
