<div class="howto">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">
                    Как это работает?
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                //= hav-pills.html
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ol class="howto-list">
                            <li>
                                <h3>Выбираете фото</h3>
                                <p>У нас большой выбор фотографов и их прекрасных фотографий</p>
                            </li>
                            <li>
                                <h3>Оплачиваете</h3>
                                <p>Также у нас куча способов как это оплатить</p>
                            </li>
                            <li>
                                <h3>Получаете заказ</h3>
                                <p>Уже через 2 дня распечатанные фото окажутся у вас в руках</p>
                            </li>
                        </ol>
                        <div class="video-placeholder">
                            <img srcset="./img/video.jpg 1x, ./img/video@2x.jpg 2x" alt="video placeholder">
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <ol class="howto-list">
                            <li>
                                <h3>Загрузите фото</h3>
                                <p>Одну из своих прекрасных фотографий</p>
                            </li>
                            <li>
                                <h3>Оплачиваете</h3>
                                <p>Также у нас куча способов как это оплатить</p>
                            </li>
                            <li>
                                <h3>Получаете заказ</h3>
                                <p>Уже через 2 дня распечатанные фото окажутся у вас в руках</p>
                            </li>
                        </ol>
                        <div class="video-placeholder">
                            <img srcset="./img/video.jpg 1x, ./img/video@2x.jpg 2x" alt="video placeholder">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>