<div class="carousel-inner w-100" role="listbox">
    <div class="carousel-item active">
        <div class="col-lg-4 col-md-6">
            <div class="card mb-2">
                <img class="card-img-top" srcset="./img/photographers1.jpg 1x, ./img/photographers1@2x.jpg 2x"
                     alt="">
                <div class="card-body">
                    <div class="ava">
                        <img srcset="./img/auth2_1.jpg 1x, ./img/auth2_1@2x.jpg 2x">
                    </div>
                    <div class="card-title">Александра Селезнева</div>
                    <p class="card-text">74 фотографии</p>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="col-lg-4 col-md-6">
            <div class="card mb-2">
                <img class="card-img-top" srcset="./img/photographers2.jpg 1x, ./img/photographers2@2x.jpg 2x"
                     alt="">
                <div class="card-body">
                    <div class="ava">
                        <img srcset="./img/auth2_2.jpg 1x, ./img/auth2_2@2x.jpg 2x">
                    </div>
                    <div class="card-title">Виктор Кострицкий</div>
                    <p class="card-text">74 фотографии</p>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="col-lg-4 col-md-6">
            <div class="card mb-2">
                <img class="card-img-top" srcset="./img/photographers3.jpg 1x, ./img/photographers3@2x.jpg 2x"
                     alt="">
                <div class="card-body">
                    <div class="ava">
                        <img srcset="./img/auth2_3.jpg 1x, ./img/auth2_3@2x.jpg 2x">
                    </div>
                    <div class="card-title">Юрий Ставничий</div>
                    <p class="card-text">74 фотографии</p>
                </div>
            </div>
        </div>
    </div>
</div>
