<div class="photographers container">

    <div class="row">
        <div class="col">
            <h2 class="text-center">
                5000 фотографов уже с нами
            </h2>
        </div>
    </div>
    
    <div class="row mx-auto my-auto">
        <div id="carouselPersons" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100">
                //= photographers-items.html
            </div>
            <a class="carousel-control carousel-control__prev" href="#carouselPersons" role="button" data-slide="prev">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" class="svg-inline--fa fa-angle-left fa-w-6 fa-3x"><path fill="currentColor" d="M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z" class=""></path></svg>
            </a>
            <a class="carousel-control carousel-control__next" href="#carouselPersons" role="button" data-slide="next">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" class="svg-inline--fa fa-angle-right fa-w-6 fa-3x"><path fill="currentColor" d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z" class=""></path></svg>
            </a>
        </div>
    </div>
</div>