<div class="publish">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 publish__inner">
                <form class="m-auto">
                    <h2>Хочешь у нас<br>разместиться?</h2>
                    <div class="form-group">
                        <input class="form-control" type="email" required placeholder="Ваша почта">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Хочу разместиться</button>
                    <p class="form-text">
                        Нажимая на кнопку, вы соглашаетесь с условиями обработки <a href="/">персональных данных</a>
                    </p>
                </form>
            </div>
            <div class="col-lg-6 d-none d-sm-block publish__bg"></div>
        </div>
    </div>
</div>