<div class="qa">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Вопросы и ответы</h2>
            </div>
        </div>
        <div class="row col-lg-10 m-auto">
            <div class="accordion md-accordion w-100" id="accordionEx" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne1">
                        <div data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                           aria-controls="collapseOne1">
                            Как это работает?
                        </div>
                    </div>

                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                         data-parent="#accordionEx">
                        <div class="card-body">
                            Просто.
                        </div>
                    </div>

                </div>

                <div class="card">

                    <div class="card-header" role="tab" id="headingTwo2">
                        <div class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                           aria-expanded="false" aria-controls="collapseTwo2">
                            Можно ли изменить условия?
                        </div>
                    </div>

                    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                         data-parent="#accordionEx">
                        <div class="card-body">
                            Нет. Из-за низкой стоимости работ нельзя поменять договор или отдельные условия сервиса.
                        </div>
                    </div>

                </div>

                <div class="card">

                    <div class="card-header" role="tab" id="headingThree3">
                        <div class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                           aria-expanded="false" aria-controls="collapseThree3">
                                Сколько мне заплатят
                        </div>
                    </div>

                    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                         data-parent="#accordionEx">
                        <div class="card-body">
                            По-совести.
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>