<div class="reviews">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 col-sm-9 m-auto text-center">
                <h2 class="h1">Отзывы</h2>
                <h3 class="mt-4 text-muted">Для нашей компании самое важное – это общечеловеческие ценности и высокий уровень сервиса</h3>
            </div>
        </div>
        <div class="row">
            <div class="col comment px-xl-5 px-md-3 px-sm-2 py-2 col-xs-12">
                <div class="comment__body">
                    Спасибо большое за помощь и содействие!
                </div>
                <div class="comment__auth">
                    <div class="ava">
                        <img srcset="./img/auth1.jpg 1x, ./img/auth1@2x.jpg" alt="Александра Селезнева">
                    </div>
                    <div class="name">
                        Александра Селезнева
                        <div class="small text-muted">фотограф</div>
                    </div>
                </div>
            </div>
            <div class="col comment px-xl-5 px-md-3 px-sm-2 py-2 col-xs-12">
                <div class="comment__body">
                    Работа с сервисом приносит радость, потому что высочайший профессионализм, удобство, оперативность, и просто приятные люди!
                </div>
                <div class="comment__auth">
                    <div class="ava" >
                        <img srcset="./img/auth2.jpg 1x, ./img/auth2@2x.jpg" alt="Лиза Семяновская">
                    </div>

                    <div class="name">
                        Лиза Семяновская
                        <div class="small text-muted">фотолюбитель</div>
                    </div>
                </div>
            </div>
            <div class="col comment px-xl-5 px-md-3 px-sm-2 py-2 col-xs-12">
                <div class="comment__body">
                    Это супер крутая инструкция и вы делаете очень полезную вещь 🙂 Спасибо ❤️
                </div>
                <div class="comment__auth">
                    <div class="ava">
                        <img srcset="./img/auth3.jpg 1x, ./img/auth3@2x.jpg" alt="Юрий Ставничий">
                    </div>
                    <div class="name">
                        Юрий Ставничий
                        <div class="small text-muted">фотограф</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
