@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.ttf');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
  url('../fonts/Gilroy-Medium.woff2') format('woff2'),
  url('../fonts/Gilroy-Medium.woff') format('woff'),
  url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.ttf');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
  url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
  url('../fonts/Gilroy-Semibold.woff') format('woff'),
  url('../fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

h1, .h1,
h2, .h2{
  line-height: 110%;
  color: $dark;
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

h3, .h3 {
  line-height: 2rem;
  font-weight: 600;
  color: $dark;
  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
}
