// Variables
$white: #fff;
$black: rgba(0, 0, 0, 0.6);
$dark: #000;
$blue: #496ADC;
$primary: $blue;
$body-bg:  $white;
$body-color: $black;
$body-bg-secondary: #FFF8EE;
$border-radius: 0.5rem;

//fonts
$line-height-base: 1.3;

$font-family-sans-serif: 'Gilroy', 'Open Sans', sans-serif;
$input-btn-font-family: $font-family-sans-serif;

$font-size-base: 1.125rem;
$font-size-1g: 1.5rem;
$font-size-md: 1rem;
$font-size-sm: .938rem;
$small-font-size: $font-size-sm;

$font-weight-bold: 500;
$font-weight-bolder: 600;

$h1-font-size: 3rem;
$h2-font-size: $h1-font-size;
$h3-font-size: 2rem;
$h4-font-size: 1.125rem;

$headings-font-weight: $font-weight-bolder;

$link-color: $blue;
$link-decoration: none;
$link-hover-color: $blue;
$link-hover-decoration: underline;

//forms elmements padding
$form-el-padding-x: 1.75rem;
$form-el-padding-y: 1.25rem;

//buttons
$btn-padding-x: 1.75rem;
$btn-padding-y: 1.25rem;
$btn-line-height: 1rem;
$btn-font-weight: $font-weight-bold;
$btn-font-size: $font-size-base;

//form-controls
$input-padding-x:  $form-el-padding-x;
$input-padding-y:  $form-el-padding-y;
$input-placeholder-color: rgba(0, 0, 0, 0.4);
$input-border-radius: 8px;
$input-font-size: 1.125rem;
$input-bg: $body-bg;
$input-disabled-bg: $body-bg;
$input-border-width: 2px;
$input-border-color: rgba(0, 0, 0, 0.08);
$input-box-shadow: none;

$input-height: 3.125rem;
$input-placeholder-color: $black;
$input-color: $black;

$input-focus-box-shadow: none;
$input-focus-color: $black;
$input-focus-border-color: $black;

$form-text-margin-top: 1.5rem;

//header navbar
$navbar-font-size: $font-size-base;
$navbar-light-hover-color: $blue;
$navbar-light-color: $black;

$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-toggler-font-size: $font-size-base;
$navbar-toggler-border-radius: 0;
$navbar-light-toggler-border-color: none;


// Grid breakpoints
$grid-columns: 12;
$grid-gutter-width: 1rem;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1300px,
        xxl: 1920px
);
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1190px
);
